<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Favicons (see https://realfavicongenerator.net) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>{{#t}}heading.page{{/t}}</title>

    <link rel="stylesheet" type="text/css" href="/fomantic-2.8.7/semantic.min.css">
    <script src="/fomantic-2.8.7/jquery-3.6.0.min.js"></script>
    <script src="/fomantic-2.8.7/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/kickstart.css">
</head>
<body>
<main class="ui inverted vertical center aligned segment">
    <div class="ui container">
        <menu type="toolbar" class="ui large top secondary inverted pointing menu">
            <li class="active item">
                <a href="/{{lang}}">{{#t}}link.menu.home{{/t}}</a>
            </li>

            <li class="right menu">
                {{#username}}
                    <div class="ui inverted inline icon dropdown item">
                        <div class="text">
                            <div class="ui avatar image">
                                <img src="//www.gravatar.com/avatar/{{gravatar}}?d=mp&s=32"/>
                            </div>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="header">
                                {{.}}
                            </div>
                            <div class="disabled item">
                                ...
                            </div>
                        </div>
                    </div>
                    <form id="logout" class="item" action="/logout" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="ui inverted button">Log out</button>
                    </form>
                {{/username}}
                {{^username}}
                    <div id="login" class="item">
                        <a href="/{{lang}}/login" class="ui inverted button">{{#t}}button.menu.login{{/t}}</a>
                    </div>
                {{/username}}
            </li>
        </menu>
    </div>

    <div class="ui text container">
    </div>
    <h1 class="ui inverted header">{{#t}}heading.splash{{/t}}</h1>
</main>
<script>
    $('.top.menu .dropdown').dropdown({transition: 'drop'});
</script>
</body>
</html>
